<button class="btn btn-success" (click)="openNewRequest()">
  <clr-icon shape="plus"></clr-icon> บันทึกแจ้งซ่อม
</button>
<clr-datagrid>
  <clr-dg-column style="width: 120px;">เลขที่ใบแจ้ง</clr-dg-column>
  <clr-dg-column style="width: 120px;">วันที่/เวลา</clr-dg-column>
  <clr-dg-column>ชื่อผู้แจ้ง</clr-dg-column>
  <clr-dg-column>หน่วยงาน</clr-dg-column>
  <clr-dg-placeholder>ไม่พบรายการแจ้งซ่อม</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let service of services">
    <clr-dg-cell>{{service.id}}</clr-dg-cell>
    <clr-dg-cell>{{service.name}}</clr-dg-cell>
    <clr-dg-cell>{{service.creation | date}}</clr-dg-cell>
    <clr-dg-cell>{{service.color}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="requestOpen" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">บันทึกแจ้งซ่อม</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="requestOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="requestOpen = false">Ok</button>
  </div>
</clr-modal>
